<%- include("template/cabecera",{tituloWeb:'Pagina de Inicio'})%>
<body>
    <h1 class="text-primary">titulo de mi sitio web Index con EJS</h1>
    <h2><%= titulo %></h2>

<%- include("template/footer")%>